
.chat{
	pointer-events: none;
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    bottom: 0;
	right: 0;
	list-style: none;
    margin: 0;
    padding: 0;
}

.chat section
{
    margin-bottom: 10px;
    padding-bottom: 5px;
}


.chat section.left .chat-body
{
	margin-left: 60px;
	text-align: right;
	float: right;

	position: relative;
	background: #e7d3d3;
	border-radius: .4em;
	
}

.chat section.right .chat-body
{
	margin-right: 60px;
	text-align: left;
	float: left;
	
	position: relative;
	background: #e6e6e6;
	border-radius: .4em;
}


.chat section .chat-body p
{
    margin: 0;
    color: #777777;
}



/* *********************** */

a.chat-close-live { 
	text-decoration: none; 
}

.list-chat .chat-time {
	font-size: 11px;
}


form .message-box {
    font-size: 83%;
	display: inline;
}


form .send {
    font-size: 95%;
    margin: 0 0 2.5px 2px;
    display: inline;
}

/* ---------- LIVE-CHAT ---------- */

.live-chat {
	pointer-events:auto;
    margin-top: auto;
	bottom: 0;
	font-size: 12px;
	right: 24px;
	width: 300px;
}

.live-chat header {
	background: #293239;
	border-radius: 5px 5px 0 0;
	color: #fff;
	cursor: pointer;
	padding: 16px 24px;
}

.live-chat h4 {
	font-size: 12px;
}

.live-chat h5 {
	font-size: 10px;
}

.live-chat form {
	padding: 0 0 0 5px;
}

.live-chat input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 8px;
	outline: none;
	width: 233px;
}


.chat-close-list, .chat-close-live {
	background: #1b2126;
	border-radius: 50%;
	color: #fff;
	display: block;
	float: right;
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	margin: 2px 0 0 0;
	text-align: center;
	width: 16px;
}


.chat-window-live, .chat-window-list {
    height: 350px;
	background: #fff;
}

.chat-history {
	padding: 10px;
    height: 312px;
	padding: 8px 24px;
	overflow-y: scroll;
}


.chat-message {
	text-align: left;
	float: left;
	padding: 0 0 0 0;
	height: 20px;
	width: 100%;
}

.chat-message p {
	color: red;
}

.chat-message-me p {
	color: blue;
    text-align: right;
    float: right;
	padding: 35px 0 0 0;
	height: 20px;
	width: 100%;
	margin: 0 0;
}

.chat-message-content {
	padding-left: 56px;
	border-bottom: 1px solid #9a9a9a;
}

/* ---------- LIST OF CONVERSATIONS ---------- */

.list-chat {
	pointer-events:auto;
    margin-top: auto;
	bottom: 0;
	font-size: 12px;
	right: 24px;
	width: 300px;
}

.list-chat header {
	background: #293239;
	border-radius: 5px 5px 0 0;
	color: #fff;
	cursor: pointer;
	padding: 16px 24px;
}

.list-chat h4 {
	font-size: 12px;
}

.list-chat h5 {
	font-size: 12px;
	margin-bottom: 2px;
}

.list-chat form {
	padding: 24px;
}

.list-chat input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 8px;
	outline: none;
	width: 234px;
}