{% extends 'base.html.twig' %}

{% block title %} Post list {% endblock %}

{% block body %}
	
	<div class="container">
		{% if posts is empty %}
			<p>No post found in the application</p>
		{% else %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th>title</th>
						<th>Username</th>
						<th>status</th>
					</tr>
				</thead>
				<tbody>
					{% for post in posts %}
						<tr>
							<td>{{ post.getTitle() }}</td>
							<td>{{ post.getAuthor().getUsername() }}</td>
							{% if post.getFlag() %}
								{% set flag = "flagged" %}
							{% else %}
								{% set flag = "unappropriate content?" %}
							{% endif %}
							<td><button>{{ flag }}</button></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>

{% endblock %}