/.docker-sync

.DS_Store
.vscode
/db_alumni/mysql
/db_alumni/performance_schema
/db_alumni/sys
/db_alumni/auto.cnf
/db_alumni/*.pem
/db_alumni/ib_buffer_pool
/db_alumni/ib_logfile0
/db_alumni/ib_logfile1
/db_alumni/ibdata1
/db_alumni/ibtmp1