<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invitation</title>
</head>
<body>
    <h1>Welcome to alumni</h1>
    <p>Hello you have been invited to join our wonderfull platform, where you can exchange with your classmates and with other students and ex-students that followed the same formation as you.</p>
    <p>To get started simply follow this link</p>
    <a href="{{ absolute_url(path('signup/',{'invitation' : invitation.getId()})) }}"></a>
    
</body>
</html>