<div class="chat">
    <!-- List of discussions -->
    <div class="list-chat">		
        <header>			
            <h4>Your Conversations</h4>
        </header>
        <div class="chat-window-list border">									
            <div class="chat-message-content">						
                <span class="chat-time">13:35</span>
                <h5>John Doe</h5>
                <p>Lorem ipsum dolor sit amet</p>
            </div> <!-- end chat-message -->
            <hr>
        </div> <!-- end chat -->
    </div> <!-- end live-chat -->

    <!-- Chat -->
    <div class="live-chat">		
        <header>			
            <a href="#" class="chat-close-live"><i class="fas fa-times-circle"></i></a>
            <h4>John Doe</h4>
        </header>
        <div class="chat-window-live border">			
            <div class="chat-history">				
                <div class="chat-message bg-light text-dark border-top border-bottom">
                    <div class="container">									
                        <p>Hello Anastasia jgsdfélkl égjsdégjsdéf hélkjgàkdsfgj mkdgjs gkd sfgjsdkfgjskdgj ékjgésdf kg</p>
                    </div>
                </div> <!-- end chat-message -->
                <div class="chat-message-me container">								
                    <p>Hello again, what's up?</p>
                </div> <!-- end chat-message -->
                <div class="chat-message-me container">								
                    <p>Hello again, jkj fgfdh  dfgdf?</p>
                </div> <!-- end chat-message -->
            </div> <!-- end chat-history -->
		
            <form action="#" method="post">
                    <input type="text" class="message-box" placeholder="Type your message…" autofocus>
                    <input type="submit" class="send btn btn-dark" value="Send">
                    <input type="hidden">
            </form>

        </div> <!-- end chat -->
    </div> <!-- end live-chat -->
</div>