<div class="chat">
    <!-- List of discussions -->
    <div class="list-chat">		
        <header>			
            <h4>Your Conversations</h4>
        </header>

        <div class="chat-window-list border">
        </div> <!-- end chat -->
    </div> <!-- end live-chat -->

    <!-- Chat -->
    <div class="live-chat clearfix">		
        <header>			
            <a href="#" class="chat-close-live"><i class="fas fa-times-circle"></i></a>
            <h4>John Doe</h4>
        </header>

        <div class="chat-window-live border clearfix">

            <div class="chat-history">	


                <section class="right clearfix">
                    <div class="chat-body clearfix">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum, quis ullamcorper ligula sodales.
                        </p>
                    </div>
                </section>



                <section class="left clearfix">
                    <div class="chat-body clearfix">
                        <p>
                            Consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                        </p>
                    </div>
                </section>

                <section class="left clearfix">
                    <div class="chat-body clearfix">
                        <p>
                            Adipiscing elit, quis ullamcorper.
                        </p>
                    </div>
                </section>



                <section class="right clearfix">
                    <div class="chat-body clearfix">
                        <p>
                            Sit amet, consectetur adipiscing elit. Curabitur ullamcorper ligula sodales.
                        </p>
                    </div>
                </section>
                
                <section class="right clearfix">
                    <div class="chat-body clearfix">
                        <p>
                            Curabitur ullamcorper ligula sodales.
                        </p>
                    </div>
                </section>



                <section class="left clearfix">
                    <div class="chat-body clearfix">
                        <p>
                            Dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                        </p>
                    </div>
                </section>


            </div> <!-- end chat-history -->
		
            <form action="#" method="post">
                    <input type="text" class="message-box" placeholder="Type your message…" autofocus>
                    <input type="submit" class="send btn btn-dark" value="Send">
                    <input type="hidden">
            </form>

        </div> <!-- end chat -->
    </div> <!-- end live-chat -->
</div>

