<!-- Page Content -->
<div class="container">

    <div class="row" id="postPinBoard">



        <!-- Blog Entries Column -->
        <div class="col-md-12">

            <br>

            <!-- Blog Post -->
            <div class="card mb-3">

                <div class="card-footer text-muted">
                    Posted in <p class="group-name font-weight-light font-italic d-inline">PUBLIC</p> on August 28, 2017 at 12:05:32 by <a href="#" class="deco-none">Username</a>
                    <div class="icons">
                        <a href="#" class="deco-none"><i class="fas fa-pencil-alt mr-2 d-inline"></i></a>
                        <a href="#" class="deco-none"><i class="fas fa-trash-alt mr-2 d-inline"></i></a>
                        <a href="#" class="deco-none"><i class="fas fa-flag mr-2 d-inline"></i></a>
                    </div>
                </div>


                <div class="card-body">
                    <div class="media-body">
                        <div class="media-body ">
                            <img class="mr-3 mb-3 rounded-circle" src="http://placehold.it/40x40" alt="">
                            <h2 class="card-title">Post Title</h2>
                        </div>

                        <p class="card-text">Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis! Corporis animi vero voluptate voluptatibus possimus. Sorporis animi vero voluptate voluptatibus possimus, expedita corporis animi vero voluptate voluptatibus possimus. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis! Corporis animi vero voluptate voluptatibus possimus. Sorporis animi vero voluptate Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis! Corporis animi vero voluptate voluptatibus possimus. Sorporis animi vero voluptate voluptatibus possimu. </p>
                    </div>
                </div>


                <div class="container p-3 mb-2 bg-light text-dark border-top border-bottom">
                     <div class="media mb-4">
                        <img class="d-flex ml-2 mr-3 rounded-circle" src="http://placehold.it/30x30" alt="">
                        <div class="media-body">
                            <h6 class="mt-0 mt-1"><a href="#" class="deco-none">Commenter Name</a></h6>
                            <div class="icons-comment">
                                <a href="#" class="deco-none"><i class="fas fa-pencil-alt mr-2 d-inline"></i></a>
                                <a href="#" class="deco-none"><i class="fas fa-trash-alt mr-2 d-inline"></i></a>
                                <a href="#" class="deco-none"><i class="fas fa-flag mr-2 d-inline"></i></a>
                            </div>
                            <small>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</small>
                        </div>
                    </div>

                    <hr>

                    <div class="media mb-4">
                        <img class="d-flex ml-2 mr-3 rounded-circle" src="http://placehold.it/30x30" alt="">
                        <div class="media-body">
                            <h6 class="mt-0 mt-1"><a href="#" class="deco-none">Commenter Name</a></h6>
                            <div class="icons-comment">
                                <a href="#" class="deco-none"><i class="fas fa-pencil-alt mr-2 d-inline"></i></a>
                                <a href="#" class="deco-none"><i class="fas fa-trash-alt mr-2 d-inline"></i></a>
                                <a href="#" class="deco-none"><i class="fas fa-flag mr-2 d-inline"></i></a>
                            </div>
                            <small>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </small>
                        </div>
                    </div>

                    <hr>

                    <div class="media mb-4">
                        <img class="d-flex ml-2 mr-3 rounded-circle" src="http://placehold.it/30x30" alt="">
                        <div class="media-body">
                            <h6 class="mt-0 mt-1"><a href="#" class="deco-none">Commenter Name</a></h6>
                            <div class="icons-comment">
                                <a href="#" class="deco-none"><i class="fas fa-pencil-alt mr-2 d-inline"></i></a>
                                <a href="#" class="deco-none"><i class="fas fa-trash-alt mr-2 d-inline"></i></a>
                                <a href="#" class="deco-none"><i class="fas fa-flag mr-2 d-inline"></i></a>
                            </div>
                            <small>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </small>
                        </div>
                    </div>

                </div>

                
                <!-- Comments Form -->
                <div class="comment-box">
                    <h5 class="title">Leave a Comment:</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control p-3 mb-2 bg-light text-dark" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </form>
                </div>

            </div>
            
        </div>




    </div>

</div>



















    </div>

</div>