<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-12">

            <br>

            <h1 class="my-4">Welcome to Alumni!</h1>

            <br>

            <!-- Blog Post -->
            <div class="card mb-3">
                <div class="card-footer text-muted">
                    Posted on August 28, 2017 by
                    <a href="#">Username</a>
                </div>
                <div class="card-body">
                    <h2 class="card-title">Post Title</h2>
                    <p class="card-text">Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis! Corporis animi vero voluptate voluptatibus possimus. Sorporis animi vero voluptate voluptatibus possimus, expedita corporis animi vero voluptate voluptatibus possimus. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis! Corporis animi vero voluptate voluptatibus possimus. Sorporis animi vero voluptate Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis! Corporis animi vero voluptate voluptatibus possimus. Sorporis animi vero voluptate voluptatibus possimu. </p>
                </div>



                <div class="container p-3 mb-2 bg-light text-dark border-top border-bottom">
                    <div class="media mb-4">
                        <img class="d-flex ml-2 mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="#">Commenter Name</a></h6>
                            <small>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</small>
                        </div>
                    </div>

                    <div class="media ml-2 mb-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="#">Commenter Name</a></h6>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                </div>

                
                <!-- Comments Form -->
                <div class="container ml-2 mt-1">
                    <h5>Leave a Comment:</h5>
                </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <textarea class="form-control p-3 mb-2 bg-light text-dark" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-dark">Submit</button>
                        </form>
                    </div>

            </div>

        </div>

    </div>

</div>