
{% extends 'baseAdmin.html.twig' %}

{% block title %} Groups {% endblock %}

{% block body %}

	<div class="container d-flex justify-content-center pt-5 mt-5">
		{% if groups is empty %}
			<p>No group found in the application</p>
		{% else %}
			<table class="table table-striped" style="width:70%">
				<thead>
					<tr>
						<th>Group</th>
					</tr>
				</thead>
				<tbody>
					{% for group in groups %}
						<tr>
							<td>{{ group.getLabel() }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
	
	<br>
	
	<div class="container d-flex justify-content-center pl-5">
	    {{ form(form) }}
	</div>
	
{% endblock %}