{% extends 'base.html.twig' %}

{% block title %} Welcome to Alumni {% endblock %}

{% block body %} 

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <main role="main" class="container">
            <div class="starter-template">
                <h1>Welcome to Alumni!</h1>
                <p class="lead">Exchange and share informations with your classmates, as well as with <br> 
                other current and former students who followed the same training like you. <br><br>
                Browse our CV library, upload your own and get it in front of the right people. <br>
                Oh, and you'll be able to choose who can see your CV details, since we care <br>
                about your privacy and never share your informations without your approval. <br></p>  
            </div>
            <a href="http://localhost/conversation/new/3c3ac0b5-a2c9-11e8-ae6c-0242ac120002" class="btn btn-primary" >Message user julien</a>
            <form action="http://localhost/newMessage" method="post">
                <input type="text" name="conversation" value="578ec1f5-a312-11e8-a25c-0242ac120002" hidden>
                <input type="text" name="content">
                <input type="submit" value="Send" class="btn btn-success">
            </form>
        </main>
    {% else %}
        <main role="main" class="container">
            <div class="starter-template">
                <h1>Welcome to Alumni!</h1>
                <p class="lead">Sign up with your invitation link or browse our CV library.</p>  
            </div>
        </main>
    {% endif %}

{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="{{ asset('js/chat.js') }}"></script>
{% endblock %}