	<div class="container">
		{{ form(form) }}
   	</div>

    <div class="container">
    	{% if comments is empty %}
    		<p>No projects found in the application</p>
    	{% else %}
            <table class="table">
            	<thead>
            		<tr>
            			<th>Creation date</th>
            			<th>Content</th>
            			<th>Username</th>
            			<th></th>
            		</tr>
            	</thead>
            	<tbody>
            		{% for comment in comments %}
            			<tr>
            				<td>{{ comment.getCreationDate()|date('Y-m-d H:i:s') }}</td>
            				<td>{{ comment.getContent() }}</td>
            				<td>{{ comment.getAuthor().getFirstname() }}</td>
                            <td><a href="#">Edit</a></td>
                            <td><a href="#">Delete</a></td>
            			</tr>
            		{% endfor %}
            	</tbody>
            </table>
    	{% endif %}

	</div>