{% extends 'base.html.twig' %}

{% block title %}Edit your profile{% endblock %}

{% block body %}
    <div class="container">
		<div class="element-warning mt-5">
		    {{ form(pictureForm) }}
		</div>
	</div>
{% endblock %}