{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/post.css') }}" rel="stylesheet">

{% endblock %}

{% block title %} Homepage {% endblock %}

{% block body %}

    <div class="container mt-5">
        {{form(post_form)}}
    </div>
    
{% endblock %}