{% extends 'base.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block body %}

	<div class="container mt-5">
		{{ form(user_form) }}
   	</div>

	<div class="container">  
		{% if errorInvitation %}
			<p>Invitation does not exist</p>
		{% elseif errorEmail %}
			<p>Please make sure to use the same email as in your invitation.</p>
		{% endif %}
	</div>

{% endblock %}